- breadcrumb_title _("Security and compliance")
- page_title _("Security and compliance")
- add_page_specific_style 'page_bundles/settings'
- @force_desktop_expanded_sidebar = true
- @hide_search_settings = true

= render ::Layouts::SettingsBlockComponent.new(_('License Compliance'),
  id: 'js-license-compliance-settings',
  testid: 'admin-license-compliance-settings',
  expanded: expanded_by_default?) do |c|
  - c.with_description do
    = _('Settings for the License Compliance feature')
  - c.with_body do
    = render 'license_compliance'

- if License.feature_available?(:secret_push_protection)
  = render ::Layouts::SettingsBlockComponent.new(_('Secret Detection'),
    id: 'js-secret-detection-settings',
    testid: 'admin-secret-detection-settings',
    expanded: expanded_by_default?) do |c|
    - c.with_description do
      = _('Manage secret detection behavior for all projects in your GitLab instance')
    - c.with_body do
      = render 'secret_push_protection'

- if License.feature_available?(:security_orchestration_policies)
  = render ::Layouts::SettingsBlockComponent.new(_('Security policies'),
    id: 'js-security-policies-settings',
    testid: 'admin-security-policies-settings',
    expanded: expanded_by_default?) do |c|
    - c.with_description do
      = _('Manage security policy settings in your GitLab instance')
    - c.with_body do
      = render 'security_policies'

  - if Feature.enabled?(:security_policies_csp, :instance)
    = render ::Layouts::SettingsBlockComponent.new(_('Compliance and security policy group'),
      id: 'js-centralized_security_policy_management_setting',
      testid: 'admin-centralized_security_policy_management_setting',
      expanded: expanded_by_default?) do |c|
      - c.with_description do
        - link = help_page_path('user/application_security/policies/_index.md')
        = _('Select a group to create, distribute, and manage compliance frameworks and security polices for this GitLab instance. You should select a group without existing compliance frameworks.')
        = render Pajamas::ButtonComponent.new(variant: :link, icon: 'information-o', href: link)
      - c.with_body do
        = render 'csp_group'

- if ::Gitlab::Saas.feature_available?(:pipl_compliance)
  = render ::Layouts::SettingsBlockComponent.new(s_('AdminSettings|PIPL compliance'),
    id: 'js-security-policies-settings',
    testid: 'admin-security-policies-settings',
    expanded: expanded_by_default?) do |c|
    - c.with_description do
      = s_('AdminSettings|Manage PIPL compliance for all users')
    - c.with_body do
      = render 'enforce_pipl_compliance'
