- @html_class = 'gl-dark'
- content_for :hide_empty_navbar, true

= render Pajamas::CardComponent.new(card_options: { class: 'gl-max-w-xl gl-mx-auto gl-rounded-lg'}, body_options: { class: 'gl-p-8' }, footer_options: { class: 'gl-rounded-b-lg' }) do |c|
  - c.with_body do
    .gl-text-center.gl-mb-6
      = image_tag 'illustrations/gitlab_logo.svg', class: 'gl-h-9', alt: 'GitLab'

    .gl-w-full
      %h1.gl-text-center.gl-m-0.gl-pb-3
        = s_('InProductMarketing|Get Started with GitLab')
      %p.gl-text-center.gl-m-0.gl-pb-6
        = s_("InProductMarketing|Enjoy 60 days of full access to our best plan, after which you'll have access to our free tier forever. Upgrade to the best plan that suits you at any point - Premium or Ultimate.")
      .signup-box
        = render 'signup_box_form_lightweight',
          url: trial_registrations_path(::Onboarding::StatusPresenter.glm_tracking_params(params)),
          button_text: _('Continue'),
          button_class: 'black-btn'

        = render 'devise/shared/terms_of_service_notice', button_text: _('Continue'), css_class: 'gl-text-sm gl-mt-3'

        - if social_signin_enabled?
          .gl-pt-5
            = render 'shared/divider', text: _('or')
          .gl-flex.gl-justify-center
            %label.gl-font-normal
              = _('Continue with:')
          .gl-flex.gl-gap-3.gl-justify-center
            - popular_enabled_button_based_providers.each do |provider|
              = render 'devise/shared/omniauth_provider_button',
                href: omniauth_authorize_path(:user, provider, onboarding_status_presenter.trial_registration_omniauth_params),
                provider: provider,
                classes: 'js-track-omni-auth',
                data: { provider: provider, track_action: "#{provider}_sso", track_label: preregistration_tracking_label }
  - c.with_footer do
    .gl-flex.gl-justify-between.gl-items-center.gl-mx-6.gl-my-3
      = render 'devise/shared/sign_in_link',
        wrapper_class: 'gl-my-0',
        tracking_action: 'click_sign_in_from_registration_page',
        tracking_label: preregistration_tracking_label
      = render 'devise/shared/language_switcher'

.gl-max-w-xl.gl-mx-auto.gl-mt-5
  .gl-ml-8.gl-mb-2
    %p
    = s_('InProductMarketing|Want to host GitLab on your servers?')
    = link_to s_('InProductMarketing|Start a Self-Managed trial'),
      'https://about.gitlab.com/free-trial/#selfmanaged/',
      data: { track_action: 'click_link', track_label: 'start_self-managed_trial' }
