= content_for :page_level_alert do
  - if show_compromised_password_detection_alert?
    = render Pajamas::AlertComponent.new(title: s_('CompromisedPasswordDetection|Security Alert: Change your GitLab password'),
     variant: :danger,
     dismissible: false,
     alert_options: { class: 'gl-mb-5' }) do |c|
      - c.with_body do
        = s_('CompromisedPasswordDetection|Your GitLab.com account password may be compromised due to a data breach on another service or platform. Please change your password immediately.')
      - c.with_actions do
        = render Pajamas::ButtonComponent.new(variant: :confirm, href: edit_user_settings_password_path, button_options: { class: 'gl-alert-action' }) do
          = s_('CompromisedPasswordDetection|Change GitLab Password')
