%p
  = _('Hello %{name},') % { name: sanitize_name(@user.name) }

%p
  = safe_format(s_('CompromisedPasswordDetection|The password used for your GitLab.com account %{code_start}%{username}%{code_end} may have been compromised due to a data breach on another service or platform. This does not necessarily mean that your GitLab account was accessed. However, leaving your password unchanged presents a significant security risk to your account.'), username: @user.username, code_start: '<code>'.html_safe, code_end: '</code>'.html_safe)

%p
  %b= s_('CompromisedPasswordDetection|Please change your password immediately.')

%p
  = s_('CompromisedPasswordDetection|Failure to change your password may lead to temporary account access restrictions to prevent potential unauthorized access.')

%p
  = s_('CompromisedPasswordDetection|Instructions for changing your password can be found in the %{doc_link}.').html_safe % { doc_link: link_to(s_('CompromisedPasswordDetection|GitLab documentation'), @url_to_change_password_docs) }

%p
  = s_('CompromisedPasswordDetection|For your security, we also recommend enabling %{mfa_link} if you have not done so already.').html_safe % { mfa_link: link_to(s_('CompromisedPasswordDetection|two-factor authentication'), @url_to_mfa_docs) }

%p
  = _('Thank you,')

%p
  = _('GitLab Security')
