= gitlab_ui_form_for @targeted_message, url: url, as: :targeted_message do |f|
  = form_errors(@targeted_message)
  .form-group
    = f.label :target_type, s_('TargetedMessages|Target Type')
    = f.select :target_type,
              Notifications::TargetedMessage.target_types.map { |key, _| [key.humanize, key] },
              { prompt: s_('TargetedMessages|Select a target type') },
              { class: 'form-control' }
  .form-group
    = f.label :namespace_ids_csv, s_('TargetedMessages|Upload a csv file for targeted namespaces')
    = f.file_field :namespace_ids_csv, class: 'form-control'
    .form-text.gl-text-subtle
      = safe_format(s_('TargetedMessage|Namespace IDs are limited to a maximum of %{limit}.'), limit: number_with_delimiter(Notifications::TargetedMessages::NamespaceIdsBuilder::MAX_NAMESPACE_IDS))
  = f.submit submit_text, pajamas_button: true
