- page_title s_('Trial|Start your free Ultimate and GitLab Duo Enterprise trial')

- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"
= render "layouts/google_tag_manager_body"

.gl-max-w-4xl.gl-mx-auto.gl-grid.md:gl-grid-cols-9.gl-gap-8
  .gl-col-span-6{ class: onboarding_status_presenter.show_company_form_side_column? ? '' : 'md:gl-col-start-3' }
    %h2.gl-mt-0.gl-text-center
      = _("Tell us about your company")

    %p.gl-text-subtle.gl-text-lg.gl-text-center
      = s_('Trial|We need a few more details from you to activate your trial.')
    .gl-max-w-80
      #js-registrations-company-form{ data: { provide: create_company_form_data(onboarding_status_presenter) } }

  - if onboarding_status_presenter.show_company_form_side_column?
    = render GitlabSubscriptions::Trials::AdvantagesListComponent.new
