= render GitlabSubscriptions::Trials::Ultimate::TopPageComponent.new

.gl-max-w-md.gl-mx-auto.gl-text-center
  .svg-content
    = image_tag(image_path('illustrations/status/status-alert-md.svg'), alt: '', size: 144)
  %h1.gl-text-size-h-display
    = _('Trial registration unsuccessful')
  %p
    = _("We're sorry, your trial could not be created. Please resubmit below to complete your registration.")

  %p
    = content

  = form_tag submit_path, method: :post, data: { testid: 'trial-form' } do
    - hidden_fields.each do |field, value|
      = hidden_field_tag(field, value)

    = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, button_options: { class: 'gl-w-full' }) do
      = _('Resubmit request')
